* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    outline: 0;
    border: 0;
}

::selection {
    color: gold;
    background-color: purple;
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

body {
    background-color: #f5fcff;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}
/*framework Start*/

.component {
    background-color: #f5fcff;
    position: relative;
    padding: 1rem;
    overflow-x: hidden;
}

.container {
    margin: auto;
    width: 100%;
    background-color: transparent;
    padding: 0 1rem;
}

.btn {
    padding: 1.8vh 1rem;
    border-radius: 5vh;
    font-size: calc(100% + 3vw);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*framework End*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_brand {
    display: block;
    text-align: center;
    font-size: calc(100% + 4vw);
    font-weight: 800;
    color: #0f0f0f !important;
    margin: auto;
}

.navbar_brand i {
    color: #0080af;
}

.wrapper {
    min-height: 87vmax;
    /*background-color: #1f223f;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .container_fluid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper .wrapper_text {
    /*color: #EFEFEF;*/
    font-size: calc(100% + 10vw);
}

.wrapper small {
    display: block;
    font-size: calc(100% + 2vw);
    line-height: 2;
    margin: 3vh 0 3.5vh;
    /*color: #EFEFEF;*/
}

.wrapper .book_btn {
    background-color: #0080af;
    color: #ffffff;
    max-width: 800px;
}

@media (max-width: 767px) {
    .container {
        max-width: calc(767px - 2rem);
        padding: 0 !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: calc(768px - 2rem);
    }
}

.booking_box {
    width: 100vw;
    min-height: 87vmax;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.booking_box .option {
    background-color: transparent;
    padding: 0 4vw;
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5vw;
    box-shadow: 0 0 0 2px #808080;
    transition: background-color .2s;
}

.booking_box .option label {
    margin: 2vh 0;
    flex: 1 0 auto;
    font-size: calc(100% + 4vw);
    font-weight: 500;
    transition: color .2s;
}

.booking_box .btns {
    margin: 10vh 0 0;
    display: grid;
    gap: 3vw;
}

.next_btn {
    background-color: #0080af;
    color: #FFFFFF;
    transition: opacity .5s;
    grid-area: nextBtn;
}

.next_btn:disabled {
    opacity: 0.3;
}

.cancel_btn {
    grid-area: cancelBtn;
    background-color: transparent;
    color: #0F0F0F;
}

@media (max-width: 767px) {
    .btns {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "nextBtn nextBtn" "cancelBtn cancelBtn";
    }
}

@media (min-width: 768px) {
    .btns {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "cancelBtn nextBtn";
    }
}