* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  outline: 0;
  border: 0;
}

::selection {
  color: gold;
  background-color: purple;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body {
  background-color: #d7d6d7;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
/*framework Start*/

.component {
  background-color: #f5fcff;
  position: relative;
  padding: 1rem;
  overflow-x: hidden;
}

.container {
  margin: auto;
  width: 100%;
  background-color: transparent;
  padding: 0 1rem;
}

/*framework End*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_brand {
  display: block;
  text-align: center;
  font-size: calc(100% + 4vw);
  font-weight: 800;
  color: #0f0f0f !important;
  margin: auto;
}

.navbar_brand i {
  color: #0080af;
}

.wrapper {
  min-height: 100vmax;
  background-color: #1f223f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .container_fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper .wrapper_text {
  /*color: #EFEFEF;*/
  font-size: calc(100% + 10vw);
}

.wrapper small {
  display: block;
  font-size: calc(100% + 2vw);
  line-height: 2;
  margin: 3vh 0 3.5vh;
  /*color: #EFEFEF;*/
}

.wrapper .book_btn {
  padding: 1.2vh 1rem;
  border-radius: 5vh;
  background-color: #0080af;
  color: #ffffff;
  font-size: calc(100% + 2vw);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

@media (max-width: 767px) {
  .container {
    max-width: calc(767px - 2rem);
    padding: 0 !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: calc(768px - 2rem);
  }
}

.presentation {
  padding: 0;
  background: linear-gradient(#64e9ff, #103ce7);
}

.presentation .container {
  display: flex;
}

.presentation .box {
  min-height: 300px;
  padding: 1rem;
}

.presentation .wrapper_text {
  font-size: calc(100% + 0.5vh);
}

@media (max-width: 1170px) {
  .presentation .container {
    flex-flow: column wrap;
  }
  .presentation .box {
    flex: 1 0 auto;
  }
}

@media (min-width: 1171px) {
  .presentation .container {
    flex-flow: row wrap;
  }
  .presentation .box {
    flex: 1 0 33.333333%;
  }
}
